Source: libsub-private-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), perl (>= 5.10) | libmodule-build-perl
Build-Depends-Indep: perl, libtest-nowarnings-perl, libnamespace-clean-perl,
  libsub-identify-perl, libb-hooks-endofscope-perl
Maintainer: Nathaniel Nutter <nnutter@genome.wustl.edu>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Sub-Private/

Package: libsub-private-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libnamespace-clean-perl,
  libsub-identify-perl, libb-hooks-endofscope-perl
Description: Private subroutines and methods
 Private subroutines and methods
 .
 This description was automagically extracted from the module by dh-make-perl.
